<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>$title$ — Iti Shree</title>

  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">midlycompiled</a>
      <a href="/">Here lies random stuff I learn ...</a>
      <div class="brain-cell-meter" title="Brain cells remaining">
          <span class="brain-cell-label">brain cells</span>
          <div class="battery">
              <div class="battery-level"></div>
          </div>
          <span class="brain-cell-value">37%</span>
      </div>
      <a href="https://github.com/nmdis1999">GitHub</a>
    </nav>
  </header>

  <main>
    <article>
      <header class="post-header">
        <h1>$title$</h1>

        $if(date)$
        <p class="date">$date$</p>
        $endif$
      </header>

      $body$
    </article>
  </main>

  <footer>
    <p>Iti Shree</p>
  </footer>
  <script src="/livereload.js"></script>
</body>
</html>
